.hello{
   background-color: aqua;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-transform: capitalize;
    color: red; 
}
.lorem{
    background-color: aqua;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-transform: capitalize;
    color: red; 

}