#abc{
    background-color:rgb(31, 231, 231);
    width:300px;
    height: 400px;
    border:2px solid rgb(0, 0, 0);
background-image: urlC:(https://upload.wikimedia.org/wikipedia/commons/c/c1/Fazil.jpg)
background-size: cover;
background-repeat: no repeat;
background-position: 50% 100%;







}